.login-page-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* padding: 50px; */
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
  
}