.transaction-page {
  display: flex;
  flex-direction: column;
}

.transaction-page__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.transactions-filters {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: #fbfbfd;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  &__items {
    display: flex;
    justify-content: space-around;
  }
}

.transaction-page__transactions-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .information-sticker {
    display: flex;
    flex-direction: column;
    background-color: #37474f;
    padding: 15px 20px;
    width: 320px;
    border-radius: 10px;

    &__title {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__value {
      font-size: 25px;
    }

    .expenses {
      color: #fe1818;
    }

    .income {
      color: #1dd1a1;
    }
  }
}

.transaction-table {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  padding: 15px 20px;
  border-radius: 10px;
  overflow-y: scroll;
  height: 62vh;

  &::-webkit-scrollbar {
    width: 10px;
    &-track {
      background: #37474f;
    }
    &-thumb {
      background-color: #1dd1a173; /* колір скролбару */
      border-radius: 10px; /* заокруглення скролбару */
      border: 3px solid #37474f;
    }
  }

  &__data {
    &__sorted-part {
      margin-bottom: 20px;

      &__header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        padding: 5px;

        &__total-amount {
          font-size: 18px;
          font-weight: 700;
          color: #8aaaba;
        }
      }

      &__transaction-data {
        // padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 5px;
        border-radius: 10px;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          background-color: #465963;
        }
        & span {
          width: 250px;
          padding: 4px;
          &:last-child {
            text-align: right;
          }
        }
      }
      &__underline {
        border-top: 1px dotted #8aaaba;
        width: inherit;
        margin-top: 5px;
      }
    }
  }
}

.add-transaction {
  position: relative;
  background-color: #37474f;
  padding: 10px 10px 20px 10px;
  border-radius: 10px;

  &__form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    & input {
      padding: 5px;
      height: 20px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      transition: box-shadow 0.5s;
      margin-top: 3px;

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 20px #1dd1a1;
      }
    }
    select {
      padding: 5px;
      height: 30px;
      width: 180px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      transition: box-shadow 0.5s;
      margin-top: 3px;

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 20px #1dd1a1;
      }
    }

    &__category {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
  
    }
    &__date {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }
    &__note {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }
    &__amount {
      display: flex;
      flex-direction: column;
    }
  }
  .add-button {
    position: absolute;
    right: 15px;
    bottom: -15px;
  }
}


@keyframes unRotateArrow  {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateArrow  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateArrow  {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
