@font-face {
  font-family: comfortaaREG;
  src: url('/src/fonts/comfortaa/Comfortaa-Regular.woff2') format("woff2");
}

.App{
  display: flex; 
  background-color: #263238;
  color: #fbfbfd;
  font-family: comfortaaREG;
  min-height: 100vh;
}
.App a{
  color: #fbfbfd;
   text-decoration: none;
}
.App a:hover{
  color: #1dd1a1;

}

.App ul li{
  list-style: none;
}



 

