$base-color: #263238;
$wite-color: #fbfbfd;
$gray-color: #37474f;
$green-button: #1dd1a1;
$hover-shadow: #1dd1a1;
$red-button: #fa2323;
$border-color: #7f9fb1;
$gray-hover-color: #465963;

@font-face {
  font-family: comfortaaREG;
  src: url("./fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2")
}